<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="DB_HOST" value="10.0.0.143" />
        <add key="DB_USERNAME" value="school_manager" />
        <add key="DB_NAME" value="school_manager" />
        <add key="DB_PASSWORD" value="-GQJmqZY7IUgc(t3" />
    </appSettings>
</configuration>
